Repository Blankenship-Daniel/snes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snes-modding/maintainers, @snes-modding/cli-team, @snes-modding/validate-team, @snes-modding/runtime-team, @snes-modding/assets-team, @snes-modding/tooling-team, @snes-modding/docs-team, @snes-modding/ci-team

.github/CODEOWNERS:

# CODEOWNERS: update team/handles to your org
# Fallback owners for everything
*       @snes-modding/maintainers

# Core scripts
zelda3-modder-demo.sh              @snes-modding/cli-team @snes-modding/maintainers
validate-mods.sh                   @snes-modding/validate-team @snes-modding/maintainers
ultimate-runtime-validation.sh     @snes-modding/runtime-team @snes-modding/maintainers

# Assets and tooling
snes-modder/                       @snes-modding/assets-team @snes-modding/maintainers
bsnes-plus/                        @snes-modding/runtime-team @snes-modding/maintainers
snes9x/                            @snes-modding/runtime-team @snes-modding/maintainers
SNES_MiSTer/                       @snes-modding/runtime-team @snes-modding/maintainers
tools/                             @snes-modding/tooling-team @snes-modding/maintainers

# Docs and workflows
docs/                              @snes-modding/docs-team @snes-modding/maintainers
.github/workflows/                 @snes-modding/ci-team @snes-modding/maintainers
.github/ISSUE_TEMPLATE/            @snes-modding/docs-team @snes-modding/maintainers
.github/pull_request_template.md   @snes-modding/docs-team @snes-modding/maintainers

feat(rag): add Phase 1 MCP enrichments - instruction lookup and memory region awareness
  docs/RAG-MCP-ENRICHMENT-EXAMPLES.md
  docs/RAG-MCP-ENRICHMENT-PLAN.md
  tools/mcp_client.py
  tools/neo4j_rag.py
Owners: @snes-modding/docs-team, @snes-modding/maintainers, @snes-modding/tooling-team

fix(mcp): remove hard-coded cwd from .mcp.json; use repo-relative args for portability across machines and CI
  .mcp.json
Owners: @snes-modding/maintainers

chore(mcp): add healthcheck script + CI workflow; docs: README updates; npm: add mcp:health script
  .github/workflows/mcp-health.yml
  README.md
  docs/mcp-healthcheck-20251018.md
  mcp-healthcheck.sh
  package.json
Owners: @snes-modding/ci-team, @snes-modding/maintainers, @snes-modding/docs-team

docs: centralize documentation under docs/; keep only README.md, AGENTS.md, CLAUDE.md at root
  AGENTS.md
  CLAUDE.md
  README.md
  docs/ADVANCED-RAG-ENHANCEMENTS.md
  docs/AI-CAPABILITIES.md
  docs/COMMUNITY_LAUNCH.md
  docs/COMMUNITY_PLATFORM_SPEC.md
  docs/COMPLETE-HOOK-RAG-ENHANCEMENTS.md
  docs/CONTRIBUTING.md
  docs/DEBT.md
  docs/ENHANCED_NLP_SPEC.md
  docs/HOOK-ENHANCEMENT-COMPLETE.md
  docs/HOOK-FIX-SUMMARY.md
  docs/LEARNING-EXTRACTION-COMPLETE.md
  docs/NEO4J-QUICKSTART.md
  docs/PHASE_2_IMPLEMENTATION_SUMMARY.md
  docs/RAG-MCP-ENRICHMENT-PLAN.md
  docs/RAG-PIPELINE-COMPLETE.md
  docs/RAG-QUICKSTART.md
  docs/RELEASE_NOTES.md
  docs/ROM-REVERSE-ENGINEERING-KNOWLEDGE.md
  docs/SECURITY.md
  docs/SESSION-SUMMARY.md
  docs/SHOWCASE.md
  docs/SIMPLIFICATION-REPORT.md
  docs/SNES-REVERSE-ENGINEERING-BEST-PRACTICES.md
  docs/TRUST_DASHBOARD.md
  docs/UNIFICATION_PLAN.md
  docs/USER_GENERATED_CONTENT_SPEC.md
  docs/VIDEO_DEMO_SCRIPT.md
  docs/hook-integration-guide.md
  docs/mcp-server-troubleshooting.md
  docs/neo4j-knowledge-graph.md
  docs/snes-context-command.md
  package.json
Owners: @snes-modding/maintainers, @snes-modding/docs-team

docs: add docs/README with placement rules, structure, and conventions
  docs/README.md
Owners: @snes-modding/docs-team, @snes-modding/maintainers

docs: create guides/reports/policies subfolders; relocate quickstarts and policies; update cross-links
  README.md
  docs/HOOK-ENHANCEMENT-COMPLETE.md
  docs/RAG-PIPELINE-COMPLETE.md
  docs/claude-ipc-setup-guide.md
  docs/guides/NEO4J-QUICKSTART.md
  docs/guides/RAG-QUICKSTART.md
  docs/hook-integration-guide.md
  docs/policies/CONTRIBUTING.md
  docs/policies/SECURITY.md
  docs/reports/mcp-healthcheck-20251018.md
Owners: @snes-modding/maintainers, @snes-modding/docs-team

docs: move guides and reports into subfolders; fix cross-links in guides, reports, and tools
  docs/NEO4J-KNOWLEDGE-GRAPH-SUMMARY.md
  docs/guides/LEARNING-EXTRACTION-COMPLETE.md
  docs/guides/RAG-MCP-ENRICHMENT-EXAMPLES.md
  docs/guides/ROM-REVERSE-ENGINEERING-KNOWLEDGE.md
  docs/guides/SNES-REVERSE-ENGINEERING-BEST-PRACTICES.md
  docs/guides/claude-ipc-setup-guide.md
  docs/guides/hook-integration-guide.md
  docs/guides/learning-extraction.md
  docs/guides/mcp-server-troubleshooting.md
  docs/guides/neo4j-knowledge-graph.md
  docs/guides/neo4j-schema-diagram.md
  docs/guides/rag-integration.md
  docs/reports/ADVANCED-RAG-ENHANCEMENTS.md
  docs/reports/COMPLETE-HOOK-RAG-ENHANCEMENTS.md
  docs/reports/HOOK-ENHANCEMENT-COMPLETE.md
  docs/reports/RAG-MCP-ENRICHMENT-PLAN.md
  docs/reports/RAG-PIPELINE-COMPLETE.md
  docs/reports/SESSION-SUMMARY.md
  tools/README-neo4j.md
  tools/__pycache__/learning_extractor.cpython-314.pyc
  tools/__pycache__/mcp_client.cpython-314.pyc
  tools/__pycache__/neo4j_rag.cpython-314.pyc
  tools/learning_extractor.py
  tools/neo4j-docker.sh
  tools/neo4j_populate.py
  tools/neo4j_query_examples.py
  tools/neo4j_rag.py
  tools/populate_rom_knowledge.py
  tools/requirements-neo4j.txt
  tools/schedule_with_note.sh
  tools/send-claude-message.sh
  tools/setup-neo4j.sh
  tools/setup-rag.sh
  tools/store_reverse_engineering_knowledge.py
  tools/test_learning_extraction.sh
Owners: @snes-modding/docs-team, @snes-modding/maintainers, @snes-modding/tooling-team

docs: add guides/index; update remaining cross-links to new guides paths; adjust test fixture reference
  docs/guides/LEARNING-EXTRACTION-COMPLETE.md
  docs/guides/claude-ipc-setup-guide.md
  docs/guides/index.md
  docs/guides/learning-extraction.md
  docs/guides/rag-integration.md
  docs/reports/COMPLETE-HOOK-RAG-ENHANCEMENTS.md
  docs/reports/HOOK-ENHANCEMENT-COMPLETE.md
  docs/reports/RAG-MCP-ENRICHMENT-PLAN.md
  tools/check-no-absolute-paths.sh
  tools/test_learning_extraction.sh
Owners: @snes-modding/docs-team, @snes-modding/maintainers, @snes-modding/tooling-team

docs: link guides index from README for quick discovery
  README.md
Owners: @snes-modding/maintainers

fix(lint): print offending matches in absolute-path check to make CI failures actionable
  tools/check-no-absolute-paths.sh
Owners: @snes-modding/tooling-team, @snes-modding/maintainers

docs(release): add v1.1.1 notes (docs centralization, link updates, lint + MCP portability)
  docs/releases/v1.1.1.md
Owners: @snes-modding/docs-team, @snes-modding/maintainers

chore(release): bump package version to 1.1.1 to match tag
  package.json
Owners: @snes-modding/maintainers

chore(release): add next.md and cut-release-notes.sh; document release notes workflow
  docs/policies/CONTRIBUTING.md
  docs/releases/next.md
  tools/cut-release-notes.sh
Owners: @snes-modding/docs-team, @snes-modding/maintainers, @snes-modding/tooling-team

chore(scripts): move CLI and validation scripts under scripts/; update npm bin/scripts and CI healthcheck path; ensure executables
  .github/workflows/mcp-health.yml
  package.json
  scripts/mcp-healthcheck.sh
  scripts/ultimate-runtime-validation.sh
  scripts/validate-mods.sh
  scripts/zelda3-modder-demo.sh
Owners: @snes-modding/ci-team, @snes-modding/maintainers, @snes-modding/runtime-team, @snes-modding/validate-team, @snes-modding/cli-team

fix(ci,docs,npm): point to scripts/ paths for CLI, validation, and healthcheck; adjust docs and CI accordingly
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  package.json
Owners: @snes-modding/ci-team, @snes-modding/maintainers

chore(repo): finalize scripts relocation; update docs and policies; remove legacy root scripts from root
  AGENTS.md
  CLAUDE.md
  README.md
  docs/policies/CONTRIBUTING.md
  mcp-healthcheck.sh
  tools/check-no-absolute-paths.sh
  ultimate-runtime-validation.sh
  validate-mods.sh
  zelda3-modder-demo.sh
Owners: @snes-modding/maintainers, @snes-modding/docs-team, @snes-modding/tooling-team, @snes-modding/runtime-team, @snes-modding/validate-team, @snes-modding/cli-team

feat(reverse-engineering): complete Zelda 3 RE workflow with bsnes-cli headless
  docs/guides/reverse-engineering/IMPLEMENTATION_COMPLETE.md
  docs/guides/reverse-engineering/INDEX.md
  docs/guides/reverse-engineering/QUICK_START.md
  docs/guides/reverse-engineering/README.md
  docs/guides/reverse-engineering/WORKING_EXAMPLES.md
  docs/guides/reverse-engineering/zelda3-headless-workflow.md
  scripts/reverse-engineering/zelda3-magic-meter-re.sh
  scripts/reverse-engineering/zelda3-memory-analysis.sh
  scripts/reverse-engineering/zelda3-trace-analysis.sh
  scripts/reverse-engineering/zelda3-trace-demo.sh
Owners: @snes-modding/docs-team, @snes-modding/maintainers

docs: add guides and reports; update README
  .githooks/pre-commit
  .githooks/pre-push
  .mcp.json
  CLAUDE.md
  README.md
  docs/CONTRIBUTING.md
  docs/guides/bsnes-headless-testing.md
  docs/guides/bsnes-mcp-realtime-gameplay.md
  docs/guides/claude-ipc-quick-start.md
  docs/guides/claude-ipc-realtime-notifications.md
  docs/guides/emulatorjs-mcp-quick-start.md
  docs/guides/mcp-servers-overview.md
  docs/guides/playwright-mcp-integration.md
  docs/guides/quick-mcp-reference.md
  docs/guides/rich-start-mod-guide.md
  docs/policies/CONTRIBUTING.md
  docs/releases/v1.1.0.md
  docs/reports/bsnes-headless-gameplay-2025-10-18.md
  docs/reports/bsnes-screenshot-analysis-2025-10-18.md
  docs/reports/bsnes-screenshot-solution-2025-10-18.md
  docs/reports/phase1-discovery-rupee-mod-2025-10-18.md
  scripts/play-zelda3-continuous.sh
  scripts/play-zelda3-headless.sh
  scripts/play-zelda3-simple.sh
  scripts/test-rich-start-gameplay.sh
  scripts/ultimate-runtime-validation.sh
  scripts/verify-rich-start-rom-bytes.sh
  scripts/zelda3-modder-demo.sh
Owners: @snes-modding/maintainers, @snes-modding/docs-team, @snes-modding/runtime-team, @snes-modding/cli-team

fix(mcp): restore bsnes MCP server registration (P0)
  .mcp.json
Owners: @snes-modding/maintainers

fix(paths): remove absolute user paths; exclude vendored emulatorjs assets from linter
  bsnes-gamer/MCP_CONFIG_EXAMPLE.json
  claude-gameplay/play-session.sh
  claude-gameplay/zelda-bot.py
  tools/check-no-absolute-paths.sh
Owners: @snes-modding/maintainers, @snes-modding/tooling-team

fix(bsnes-gamer): honor button durations by scheduling timed holds and releases during replay (P0)
  bsnes-gamer/src/emulator.ts
Owners: @snes-modding/maintainers

feat(tooling): add code organization tools and cleanup unused code
  .husky/pre-commit
  .lintstagedrc.json
  .syncpackrc.json
  docs/CODE_ORGANIZATION_TOOLS.md
  knip.json
  package.json
Owners: @snes-modding/maintainers, @snes-modding/docs-team
