Repository Blankenship-Daniel/snes, changes with the owners that .github/CODEOWNERS names for each.
All owners: @snes-modding/maintainers, @snes-modding/cli-team, @snes-modding/validate-team, @snes-modding/runtime-team, @snes-modding/assets-team, @snes-modding/tooling-team, @snes-modding/docs-team, @snes-modding/ci-team

.github/CODEOWNERS:

# CODEOWNERS: update team/handles to your org
# Fallback owners for everything
*       @snes-modding/maintainers

# Core scripts
zelda3-modder-demo.sh              @snes-modding/cli-team @snes-modding/maintainers
validate-mods.sh                   @snes-modding/validate-team @snes-modding/maintainers
ultimate-runtime-validation.sh     @snes-modding/runtime-team @snes-modding/maintainers

# Assets and tooling
repos/snes-modder/                 @snes-modding/assets-team @snes-modding/maintainers
repos/bsnes-plus/                  @snes-modding/runtime-team @snes-modding/maintainers
repos/snes9x/                      @snes-modding/runtime-team @snes-modding/maintainers
repos/SNES_MiSTer/                 @snes-modding/runtime-team @snes-modding/maintainers
tools/                             @snes-modding/tooling-team @snes-modding/maintainers

# Docs and workflows
docs/                              @snes-modding/docs-team @snes-modding/maintainers
.github/workflows/                 @snes-modding/ci-team @snes-modding/maintainers
.github/ISSUE_TEMPLATE/            @snes-modding/docs-team @snes-modding/maintainers
.github/pull_request_template.md   @snes-modding/docs-team @snes-modding/maintainers

feat: add monorepo healthcheck tooling
  .github/workflows/ci.yml
  .yarn/install-state.gz
  docs/guides/workspaces-and-repos.md
  package.json
  scripts/monorepo-health.sh
  yarn.lock
Owners: @snes-modding/ci-team, @snes-modding/maintainers, @snes-modding/docs-team

chore: ignore large analysis output files to prevent GitHub push errors
  .gitignore
Owners: @snes-modding/maintainers

fix(cli): remove master sword stub
  repos/snes-modder/src/index.ts
Owners: @snes-modding/assets-team, @snes-modding/maintainers

fix(cli): remove master sword export
  repos/snes-modder/src/index.ts
Owners: @snes-modding/assets-team, @snes-modding/maintainers

remove binary
  .yarn/install-state.gz
Owners: @snes-modding/maintainers

fix(modder): point discovery exports at schema
  repos/snes-modder/src/types/unified-types.ts
Owners: @snes-modding/assets-team, @snes-modding/maintainers

feat(ci): add codex auto-fix workflow
  .github/workflows/codex-autofix.yml
  docs/workflows/codex-auto-fix.md
Owners: @snes-modding/ci-team, @snes-modding/maintainers, @snes-modding/docs-team

update codex-autofix.yml pipeline
  .github/workflows/codex-autofix.yml
Owners: @snes-modding/ci-team, @snes-modding/maintainers

fix(ci): harden validation and test scripts
  repos/snes-modder/package.json
  repos/zelda3-disasm/package.json
  scripts/validate-mods.sh
Owners: @snes-modding/assets-team, @snes-modding/maintainers, @snes-modding/validate-team

fix(ci): allow pipelines without local rom assets
  repos/snes-modder/package.json
  repos/zelda3-disasm/package.json
  scripts/validate-mods.sh
Owners: @snes-modding/assets-team, @snes-modding/maintainers, @snes-modding/validate-team

fix(ci): allow missing rom assets during ci
  repos/snes-modder/package.json
  repos/zelda3-disasm/package.json
  scripts/validate-mods.sh
Owners: @snes-modding/assets-team, @snes-modding/maintainers, @snes-modding/validate-team
